name: Docker Image Downloader

on:
  workflow_dispatch: # 支持手动点击运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull Docker Image
        run: |
          # 拉取适用于 TP-Link 6088 (ARM64) 的镜像
          docker pull --platform linux/arm64 jeessy/ddns-go:latest
          
      - name: Save Image to Tar
        run: |
          # 将镜像打包成离线文件
          docker save jeessy/ddns-go:latest -o ddns-go-arm64.tar
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ddns-go-docker-tar
          path: ddns-go-arm64.tar
